<div style="text-align: center" class="card" style="width: 100%" >
  <img class="card-img-top" src="https://img.freepik.com/free-vector/digital-marketing-concept-online-shopping-mobile-application_68971-367.jpg?w=2000" alt=" ">
  <div class="card-body" width="10rem">
    <h1 style="text-align:center" class="card-title">Shopping App</h1>
    <p class="card-text">Shopping App is one of the best booming app and user friendly application for the customers.</p>
    <p class="card-text">In this application you can find varities of goods that include fashion for kids and adults of all gender, jewllery items, electronics items, cookware, and what not...</p>
    <h6 style="font: bold" style="color: purple;">So don't waste your time in physical shopping, we are here for you. Why waste time just login here and enjoy!!!</h6>
    <a routerLink="/login">Login</a>
    <h5>For new customers register here</h5>
    <a routerLink="/register">Register</a>
    <p class="card-text"><small class="text-muted">Have a nice day, Happy shopping...</small></p>
  </div>
</div>
